* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.main-container {
    background-image: url('images/back.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.sub-main-container {
    padding: 99px 106px;
    width: 70%;
}

.wisk-section h2 {
    font-weight: bold;
    font-size: 72px;
}

p, h1, h2, h3, h4, h5, h6{
    color: #232323;
}

h2, h3{
    font-weight:800  !important;
}

p {
    font-weight: 600;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}
h3 {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    z-index: 99999;
}

h3::before {
    content: '';
    position: absolute;
    width: 110%;
    background: #E7EB2E;
    height: 40px;
    z-index: -1;
    left: -14px;
    top: -4px;
}

h3::after {
    z-index: -2;
    content: '';
    position: absolute;
    width: 110%;
    background: #FF4545;
    height: 40px;
    left: 5px;
    top: 12px;
}

h4{
    color:#232323;
    font-size: 36px;
    margin-bottom: 20px;
}

h4:hover{
    color:#FF4545;
}

.grey{
    color:#eced98;
    font-size: 24px;
    font-weight: 400;
}

.grey:hover{
    color:#E7EB2E;
}

.slick-slide img {
    width: 100%;
}

.single .slick-dots li {
    padding: 0;
    margin: 0;
}

.single .slick-dots li button:before {
    color: #FF4545;
    opacity: 40%;
}

.single .slick-dots li.slick-active button:before {
    color: rgba(255, 69, 69, 1);
    opacity: 70%;
}

span {
    color: rgba(255, 69, 69, 1);
}

.single img {
    margin-top: 30px;
}

.mobpic img{
    max-width: 40%;
}